.idea*
_IDE_HELPER.php
config.app.php
config.app.surete.php
.DS_Store
README.md
*.css~
*.js~
*.css~
*.php~
.gitignore~
install/mysql-structure.php
install/surete_config-setup.php
install/config-setup.php_surete
app/storage/reports/*.pdf
wiki/
BUGSwiki/
app/storage/logs/
logs
php7.4_errors.log
php8.0_errors.log
php8.1_errors.log
php8.2_errors.log
php8.3_errors.log
php8.4_errors.log
php8.5_errors.log
php8.6_errors.log
temp/
version

